@page
@model CarService.Web.Areas.Client.Pages.SubTasks.MakeAppointmentModel
@{
}
@using System;
@{DateTime today = DateTime.Today;}
@{var culture = new System.Globalization.CultureInfo("hu-HU");}
<h1>Időpont foglalása</h1>
<hr>

<div class="form-group">
    @{ int i = 1; }
    @foreach (var day in Model.FinalOpening)
    {
        <div class="row">
            <div class="col border text-center">
                <div class="mini-box flex-fill">
                    @today.AddDays(i).ToString("MM.dd.")
                </div>
                <div class="mini-box flex-fill">
                    @culture.DateTimeFormat.GetDayName(today.AddDays(i).DayOfWeek)
                </div>
            </div>
            @foreach (var appointment in day.Value)
            {
                string btnClass;
                string disabled = "";
                string title = appointment.Key.ToShortDateString();
                @if ((i + 1) % 2 == 0
                   && appointment.Key.DayOfWeek != DayOfWeek.Saturday
                   && appointment.Key.DayOfWeek != DayOfWeek.Sunday
                   && appointment.Value == true)
                {
                    btnClass = "btn-primary";
                }
                else if ((i + 1) % 2 == 1
                        && appointment.Key.DayOfWeek != DayOfWeek.Saturday
                        && appointment.Key.DayOfWeek != DayOfWeek.Sunday
                        && appointment.Value == true)
                {
                    btnClass = "btn-info";
                }
                else
                {
                    btnClass = "btn-secondary";
                    disabled = "disabled";
                    title = "Megtelt időpont";
                }

                string minute;
                if (appointment.Key.Minute == 0)
                {
                    minute = "00";
                }
                else
                {
                    minute = "30";
                }
                <div class="col text-center border calendar-button-group calendar-button-div">
                    <button type="button" @disabled class="btn @btnClass btn-sm calendar-button" title="@title">@appointment.Key.Hour:@minute</button>
                </div>
            }
        </div>
        i++;
    }
</div>

<form method="post">
    <div class="row">
        <div class="col">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.AppointmentDay">Foglalt időpont napja</label>
                <input asp-for="Input.AppointmentDay" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.AppointmentTime">Foglalt időpont ideje</label>
                <input asp-for="Input.AppointmentTime" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.CarId"></label>
                <select id="Select_Car" asp-for="Input.CarId" asp-items="Model.Cars" class="form-control">
                    <option value="">Válassz egyet...</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Input.Description"></label>
                <textarea asp-for="Input.Description" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Lefoglalom!" class="btn btn-dark" />
            </div>
        </div>
    </div>
</form>

<script src="~/js/MakeAppointment.js"></script>