@page
@model CarService.Web.Areas.Client.Pages.MyServices.EditModel

<h4>Work</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Work.Id" />
            <div class="form-group">
                <label asp-for="Work.StartingTime" class="control-label"></label>
                <input asp-for="Work.StartingTime" class="form-control" />
                <span asp-validation-for="Work.StartingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Work.EndTime" class="control-label"></label>
                <input asp-for="Work.EndTime" class="form-control" />
                <span asp-validation-for="Work.EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Work.Price" class="control-label"></label>
                <input asp-for="Work.Price" class="form-control" />
                <span asp-validation-for="Work.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Work.OwnerDescription" class="control-label"></label>
                <input asp-for="Work.OwnerDescription" class="form-control" />
                <span asp-validation-for="Work.OwnerDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Work.CompanyDescription" class="control-label"></label>
                <input asp-for="Work.CompanyDescription" class="form-control" />
                <span asp-validation-for="Work.CompanyDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Work.SubTaskId" class="control-label"></label>
                <select asp-for="Work.SubTaskId" class="form-control" asp-items="ViewBag.SubTaskId"></select>
                <span asp-validation-for="Work.SubTaskId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Work.ServiceId" class="control-label"></label>
                <select asp-for="Work.ServiceId" class="form-control" asp-items="ViewBag.ServiceId"></select>
                <span asp-validation-for="Work.ServiceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Work.StateId" class="control-label"></label>
                <select asp-for="Work.StateId" class="form-control" asp-items="ViewBag.StateId"></select>
                <span asp-validation-for="Work.StateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Work.WorkerUserId" class="control-label"></label>
                <select asp-for="Work.WorkerUserId" class="form-control" asp-items="ViewBag.WorkerUserId"></select>
                <span asp-validation-for="Work.WorkerUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Vissza a listára</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
