@page
@model CarService.Web.Areas.ClientUser.Pages.Cars.AddCarModel

@{
    ViewData["Title"] = "AddCar";
}

<h1>Hozzáadás</h1>

<h4>Autó</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Car.Brand" class="control-label"></label>
                <input asp-for="Car.Brand" class="form-control" />
                <span asp-validation-for="Car.Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Model" class="control-label"></label>
                <input asp-for="Car.Model" class="form-control" />
                <span asp-validation-for="Car.Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Vin" class="control-label"></label>
                <input asp-for="Car.Vin" class="form-control" />
                <span asp-validation-for="Car.Vin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.LicensePlateNumber" class="control-label"></label>
                <input asp-for="Car.LicensePlateNumber" class="form-control" />
                <span asp-validation-for="Car.LicensePlateNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.YearOfManufacture" class="control-label"></label>
                <input asp-for="Car.YearOfManufacture" class="form-control" />
                <span asp-validation-for="Car.YearOfManufacture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Km" class="control-label"></label>
                <input asp-for="Car.Km" class="form-control" />
                <span asp-validation-for="Car.Km" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.TechnicalValidity" class="control-label"></label>
                <input asp-for="Car.TechnicalValidity" class="form-control" />
                <span asp-validation-for="Car.TechnicalValidity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Picture" class="control-label"></label>
                <input asp-for="Car.Picture" class="form-control" />
                <span asp-validation-for="Car.Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Hozzáadás" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./BrowseCar">Vissza a teljes listára</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
