@page
@model CarService.Web.Areas.Company.Pages.Services.ReallyPaidModel

<h4>@Model.Service.Car.ClientUser.Name nevű ügyfél @Model.Service.Car.Brand @Model.Service.Car.Model autója</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <p class="text-warning">Valóban fizetve státuszúra állítja a teljes szervízt?</p>
            <div class="form-group">
                <input type="submit" value="Fizetve!" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" title="Vissza a szervízekhez"><i class="fas fa-chevron-circle-left fa-3x"></i></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
