@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Jelszó visszaállítás";
}

<h1>@ViewData["Title"]</h1>
<p>
    Jelszavadat sikeresen visszaállítottad! <a asp-page="./Login">Kattints a belépéshez!</a>.
</p>
